<div class="grid grid-cols-1 gap-6 max-w-screen-md mx-auto bg-white rounded">
  <p class="text-2xl font-bold">
    Create Post
  </p>
  <div>
  <%= form_with model: @post, data: { action: "ajax:error->posts#insertPostForm" }, class: 'w-full' do |f| %>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <%= f.label :title, 'Title', class: 'form-label' %>
        <%= f.text_field :title, class: 'form-field'%>
        <%= display_inline_form_errors(@post, :title) %>
        <div class="flex justify-end text-gray-600"></div>
      </div>
    </div>

    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <%= f.label :body, 'Body', class: 'form-label' %>
        <%= f.text_area :body, class: 'form-field'%>
        <%= display_inline_form_errors(@post, :body) %>
        <div class="flex justify-end text-gray-600"></div>
      </div>
    </div>

    <div class="md:flex md:items-center">
      <%= f.submit 'Submit', class: 'form-submit' %>  
      <div class='pr-4'></div>
    </div>   
  <% end %>
</div>